<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="navbar">

    <h2>Sistema Basura</h2>

    <div>
        <a href="/reportes">Crear Reporte</a>
        <a href="/lista-reportes">Ver Reportes</a>
        <a href="/login">Cerrar Sesión</a>
    </div>

</div>

<div class="container">

    <h1>Bienvenido</h1>

    <p>
        Sistema web de reportes ambientales.
    </p>

</div>

</body>
</html>
